@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

.Header-Nav{
    background-color: #433878;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    min-height: 150px;

    .Nav-list{
        list-style: none;
        display: flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        min-height: 150px;

        .Nav-list-item a{
            color: #fff;
            text-decoration: unset;
            font-size: 1.5rem;
        }

        .Monster-Banner--imagepr{
            max-width: 180px;
            max-height: 120px;
        }
    }
}

.Monster-Banner{
    background-color: #E4B1F0;
    max-width: 100%;

    .Monster-Banner--title{
        /* color: #fff; */
        font-weight: 700;
        padding: 2rem 0;
        text-align: center;
    }

    .Monster-Banner--link{
        max-width: 100%;
        display: flex;
        justify-content: center;
        padding: 2rem 0;

        .Monster-Banner--image{
            object-fit: cover;
            max-width: 850px;
        }
    }

}

.Text-body{
    padding: 1.5rem 3rem;
    /* text-align: center; */

    .Text-body--title{
        font-size: 2em;
        font-weight: 700;
        margin: 1rem 0 ;
    }

    .Text-body--paragraph{
        font-size: 1.25rem;
    }

    .Monster-Banner--image{
        margin: 0 auto;
        display: block;
    }
}

.InfoCards-Container{
    .InfoCards-Title{
        text-align: center;
    }

    p.InfoCards-Title{
        font-size: 1.5rem;
        font-weight: 700;
        margin: 2rem 0;
    }

    .Monster-Banner--image{
        margin: 0 auto;
        display: block;
    }
}

.InfoCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    background-color: #FFE1FF;

    .InfoCards-Text,
    .InfoCards-Image{
        width: 50%;
    }

    .InfoCards-Text{
        padding: 0 2rem;
        height: 100%;
        h1{
            font-size: 2.25rem;
        }
        p{
            font-size: 1.25rem;
        }
    }

    .InfoCards-Image{
        max-height: 630px;
    }
}

.InfoCards:nth-child(3){
    background-color: #E4B1F0;
}

.InfoCards--second{
    flex-direction: row-reverse;
}

.InfoCards-Container h1{
    margin: 2rem 0;
    padding: 0 3rem;
}

.InfoCards--Table{
    padding-bottom: 3rem;

    .InfoCards--TableTitle{
        color: #000;
    }
    h1{
        color: #fff;
    }
    p{
        color: #fff;
        padding: 0 3rem;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    img{
        max-height: 550px;
        display: block;
        margin: 0 auto;
    }
}